<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Password Tester</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Share+Tech+Mono&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>


    <div class="container">
        <h1>🔐 Password Tester</h1>

        <form method="POST" action="/">
            <label for="password">Enter Your Key (Password):</label>
            <input type="password" id="password" name="password" required placeholder="Initiate Protocol: Enter Key">
            <button type="submit">Analyze Key Strength</button>
        </form>

        {% if strength %}
        <div class="results-box">
            <h2>Analysis Report:</h2>
            <p>Your Key Status:
                <span class="status-{{ color }}">{{ strength }}</span>
            </p>

            <h3>Your Key Status:</h3>
            <ul>
                {% for item in feedback %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            {% if suggestions %}
            <h3 class="suggestions-header">Suggestion for You:</h3>
            <ul class="suggestions-list">
                {% for item in suggestions %}
                <li class="suggestion-item">{{ item }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        </div>
        {% endif %}
    </div>
</body>

</html>